.area__container{
    padding: 100px 85px;
    text-align: center;
    position: relative;
    &::before{
       @include section-bg;
    content: ""; 
    }
   
    }
    

.area__container-title{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    
    color: #FEFCF7;
    
}
.area__cold {
    text-align: center;
}
.area__content-list{
    @include reset-list;
    display: flex;
    justify-content:center;
   
}
.area__content-item{
    padding: 72px 48px 48px;
    border-radius: 8px;
    margin-right: 30px;
    width: 350px;
    color: #fff;
    background-color: #0E8784;
    &:last-child{
        margin: 0;
    }
}
