.branch__content{
    margin: 0 auto;
    padding-top: 126px;
    width: 1111px;
    text-align: center;
 
}
.branch__title{
    display: block;
    margin: 0;
    font-family: 'Fraunces';    
font-weight: 900;
font-size: 150px;
line-height: 1.5;
text-align: center;
color: transparent;
-webkit-background-clip: text;
background-color: #83888F;
background-image:linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%)

}
.branch__content-list{
margin: 0;
@include reset-list;
display: flex;
align-items: center;


}
.branch__content-item{
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 30px;
    &:last-child{
        margin-right: 0;
    }
}
.branch__content-text{
    margin: 0;
    font-family: "Fraunces";
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #333D4B;

}
.branch__content-descrption{
    margin: 0;
    font-family: 'Barlow';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #333D4B;

}





