.intro__content{
   
   display: block;
    padding-top: 116px;
padding-bottom: 117px;
padding-left: 85px;
background-image: url("../img/coffe.jpg");
background-position: center;
background-repeat: no-repeat;
border-radius: 8px;
}
.intro__container{
    width:493px;

}
.intro__content-title {
    margin: 0;
    padding: 0;
    font-family: 'Fraunces',Arial,sans-serif;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;

}
.intro__content-text{
    margin: 0;
    padding: 0;
    margin-top: 32px;
font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
mix-blend-mode: normal;
opacity: 0.8;
}
.link__ourplan{
    display: block;
    font-family: 'Fraunces'Arial,  sans-serif;
font-weight: 900;
font-size: 18px;
line-height: 25px;
color: #FEFCF7;
    margin-top: 56px;
    margin: bottom 116px; 
    position: absolute;
background-color: #0E8784;
border-radius:6px;
text-decoration: none;
padding: 15px 32px;
&:hover{
background-color: #66D2CF;
}
}